<h1>Netzsch Demo Application 2</h1>

<hr class="solid">

<div *ngIf="isConnected; else notConnected"
     class="wrapper">

  <div class="row wrapper">

    <div class="col-sm-4 top-space">

      <div *ngFor="let user of users"
           class="list-group">


        <div [class.dot]="user.hasNewMessage"
             data-toggle="tooltip" data-placement="top" title="Output Changed">
        </div>

        <button [class.selected]="user === selectedUser"
                (click)="onSelectedUser(user)"
                type="button">
          {{user.name}}
        </button>
      </div>
    </div>

    <div class="col-sm-1"
         style="border-left: 1px solid #808080; height: 100%; width:1px;
margin:0px;">


    </div>

    <!--input & output fields-->
    <div class="col-sm-7 top-space">


      <div *ngIf="selectedUser && users.length > 0">

        <label>Output:</label>

        <br />
        <input [(ngModel)]="selectedUser.receivedText"
               readonly />

        <br />
        <br />

        <label>Input:</label>

        <br />

        <input [(ngModel)]="selectedUser.sentText" type="text"
               (input)="onInputChanged($event)" />


      </div>
    </div>
  </div>
</div>

<ng-template #notConnected>
  <h1>Thanks for stopping by!</h1>
  <p>Please wait a second while the connection is being established...</p>
</ng-template>
