.dot {
  height: 15px;
  width: 15px;
  background-color: #6cc887;
  border-radius: 50%;
  z-index: 2;
  margin: 3px;
  vertical-align: central;
  align-self:end;
  position: absolute;
}

button {
  z-index: 1;
}

.user-box {
  border: groove;
  display: block;
  border-color: #5e5e5e;
  min-height: 100% !important;
  padding: 0px;
}

input {
  margin-left: 20px;
  margin-bottom: 25px;
  width: 90%;
  border-color: #5e5e5e;
  color: inherit;
}

label {
    margin-top:3px;
    margin-left:20px;
    margin-bottom:3px;
}
