/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
html, body, .wrapper {
  height: 100%;
  background-color: #1C1C1C;
  color: #F7F9F9;
  font-size: 16px;
  font-family: "Segoe UI";
  overflow-x:hidden; 
}

.top-space {
  margin-top: 10px;
  margin-left:10px;
}

html, body {
}

h1 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 28px;
  margin-left: 2%;
}

a {
  color: #0366d6;
}

.code {
  color: #e01a76;
}

/* General button style */
button {
    border:none;  
  outline:groove;
  outline-color:#3e3e3e;
  outline-width: thin;
  font-family: "Segoe UI";
  color: inherit;
  background: #2b2b2b;
  cursor: pointer;
  padding: 25px;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  position: initial;
  text-align: start;
  -webkit-transition: all 0 3s;
  -moz-transition: all 0 3s;
  transition: all 0 3s;
}

hr.solid {
  border-bottom: 3px solid #bbb;
  height:3px;
  margin:0px;
}

button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0 3s;
  -moz-transition: all 0 3s;
  transition: all 0 3s;
}

  /* Pseudo elements for icons */
  button:before {
    font-family: 'Segoe UI';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }

  button:hover {
    background: #242425;
  }

  button:active {

    background: #202021;
  }

  button:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }

.selected {
  background: #222222;
}

input {
  background-color: #2b2b2b;
}
